<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css"
    />
    <!-- FONT AWESOME -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
      integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
      crossorigin="anonymous"
    />
    <!--Custom css-->
    <link rel="stylesheet" href="../../public/css/styles.css" />
    <title>imgSharte</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand">
          <img src="../../public/images/imgshare-logo.png" alt="imgShare" />
        </a>
      </div>
    </nav>

    <div class="container p-4">
      <div class="row">
        <div class="col-md-8"></div>
        {{{body}}}
        <div class="col-md-4">

        </div>
      </div>
    </div>
    <!--Scripts-->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <!--Custom js-->
    <script src="/public/js/scripts.js"></script>
  </body>
</html>